.main {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.login {
    height: 420px;
    width: 300px;
    background-color: var(--white);
}

.h1text {
    text-align: center;
    padding-top: 35px;  
    font-family: var(--main-font);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;  
}

.btn {
    width: 260px;
    height: 35px;
    background-color: var(--purple-main);
    color: var(--white);
    border: 1px solid;
    font-weight: 400;
    font-size: medium;
}

.btn:hover {
    scale: 103%;
}

.link {
    text-decoration: none;
    color: var(--gray-text);
    margin-top: 15px;
}

.link:hover {
    scale: 103%;
}


.error{
    color: red;
    display: block;
}
