/* 320px, 480px, 768px */

.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 0;
}

.login {
    width: 30vw;
    padding: 2vw 2vw 0vw 2vw;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.h1text {
    font-family: var(--main-font);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 20%;    
}

.form {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: -webkit-fill-available;
}



.link {
    text-decoration: none;
    color: var(--gray-text);
    margin-top: 1em;
    font-size: 1.25em;
}

.link:hover {
    scale: 103%;
}


.error {
    color: red;
    font-size: var(--default-font);
}






/* width<=1024px */

@media (width <=1024px) {
    
    .login {
        height: fit-content;
        width: 30vw;


    }

    .h1text {
        font-size: 3.5vw; 
        height: 20%;
    }

    .form {
        padding: 0vh 2vw;
    }

    .error {
        font-size: 2vw;
    }

    .link{
        font-size: 2vw;
    }

}

/* width<=650px */
@media (width<=650px) {

    .login{
        /* height: fit-content; */
        width: 31vw;
    }

    .h1text {
        font-size: 4vw;
    }

    .link {
        font-size: 2vw;
    }

    .error{
        font-size: 1.9vw;
    }

}

/* width<=480px */
@media (width<=480px) {

    .login{
        width: 47vw;
    }

    .h1text {
        font-size: 4.5vw;
    }   

    .link {
        font-size: 2.5vw;
    }

    .error{
        font-size: 2.1vw;
    }

}


/* width<=320px */
@media (width<=320px) {

    .login{
        width: 60vw;
    }

    .h1text {
        font-size: 6.5vw;
    }   

    .link {
        font-size: 3.5vw;
    }

    .error{
        font-size: 3.1vw;
    }

}

