.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    animation-duration: 5s;
    animation-name: slide-down;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.register {
    height: fit-content;
    width: 300px;
    background-color: var(--white);
}

.h1text {
    text-align: center;
    padding-top: 35px;  
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.input,
.btn {
    margin: 10px 0px;
    border-radius: 3px;
}

.input {
    width: 250px;
    height: 30px;
    border: 1px solid var(--gray-border);
    text-indent: 10px;
}

.input:focus {
    outline: none;
    box-shadow: var(--box-shadow-color) 0px 8px 24px;
    border: 1px solid var(--purple-main);
}

/* ::placeholder {
    padding-left: 10px;
} */

.btn {
    width: 260px;
    height: 35px;
    background-color: var(--purple-main);
    color: var(--white);
    border: 1px solid;
    font-weight: 400;
    font-size: medium;
}

.btn:hover {
    scale: 103%;
}

.link {
    text-decoration: none;
    color: var(--gray-text);
    margin: 15px;
}

.link:hover {
    scale: 103%;
}

.error{
    color: red;
    display: block;
}