<div class="main">
    <div class="resgister">
     <h1 class="h1text">Register</h1>
     <form action="" class="form">
         <input class="input" type="text" placeholder="Frist Name">
         <input class="input" type="text" placeholder="Last Name">
         <input class="input" type="text" placeholder="Email">
         <input class="input" type="text" placeholder="Password">
         <button class="btn">Register</button>
         <a class="link" routerLink="/login">
             <p>Already have an account?</p>
         </a>
     </form>
    </div>
 </div>
 
 <router-outlet></router-outlet>
 