<div class="card">
    <div class="recommend">
        <p class="car-recommend-text">64% Recommended</p>
    </div>
    <img class="car-img" src="https://cdni.autocarindia.com/Utils/ImageResizerV2.ashx?n=https://cms.haymarketindia.net/model/uploads/modelimages/BMW-X1-110520231412.jpg&w=373&h=245&q=75&c=1" alt="Car">
    <div class="car-alignment">
        <span class="car-name">BMW X5</span>
        
    </div>
    <div class="car-alignment">
        <div class="car-info">
            <span>Gray</span> 
            <span>Auto</span>
            <span>Hybrid</span>
            <span>2023</span>
        </div>

        <div class="car-price">
            <span>35$/h</span>
        </div>
    </div>
</div>
