.addForm {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin: 50px;
}

.car-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    /* margin-bottom: 30px; */
    /* padding: 0px 20px 20px; */
}

.add-car-grid {
    display: inline-grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: repeat(5,100px);
    column-gap: 50px;
    row-gap: 50px;
    justify-items: stretch;
    padding: 30px 0px;

}

.lable-div {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    
}

.lable-div label {
    font-size: var(--title-font-big);
    font-family: var(--main-font);
    font-weight: 600;
    /* background-color: red; */
}

.add-input{
    border: 1px solid var(--purple-main);
    margin-top: 10px;
    height: 40px;
    width: -webkit-fill-available;
    font-size: var(--title-font);
    font-family: var(--main-font);
    font-weight: 500;
}

.textarea{
    grid-column: span 2;
}

.textarea textarea{
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: -webkit-fill-available;
}

.control-btn{
    border: 1px solid;
    font-weight: 400;
    font-size: 20px;
    width: 250px;
    height: 40px;
    margin-top: 30px;
}

.control-btn:hover {
    scale: 105%;
}


.save-info-btn{
    background-color: var(--purple-main);
    color: white;
}

.reset-info-btn{
    color: var(--purple-main);
    background-color: white;
}


/* image-selector.component.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.select-button {
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: var(--title-font);
    font-family: var(--main-font);
    font-weight: 500;
    border: 1px solid var(--purple-main);
}
