<!-- Navbar for all conditions -->
<div class="nav">


    <!-- Before Login -->
    <ng-container *ngIf="!isLogin; else loggedIn">
        <div>
            <span class="title">Car Rental Service</span>
        </div>
    </ng-container>



    <!-- Logged In -->
    <ng-template #loggedIn>


        <!-- Admin navbar -->
        <ng-container *ngIf="isAdmin; else userNavbar">
            <div>
                <span class="title">Welcome Admin!</span>
            </div>
            <nav>
                <div (click)="openSearch()" class="search-btn">
                    <mat-icon *ngIf="!search" aria-hidden="false" fontIcon="search"></mat-icon>
                </div>
                <div (click)="openSearch()">
                    <mat-icon *ngIf="search" class="search-btn"
                    aria-hidden="false" fontIcon="search"></mat-icon>
                </div>
                <input *ngIf="search" type="text" placeholder="Search Your Cars" >
                <a class="nav-links" routerLink="/admin/dashboard"><span>Dashboard</span></a>
                <a class="nav-links" routerLink=""><span>Add Car</span></a>
                <a class="nav-links" routerLink="/admin/bookings"><span>Bookings</span></a>
            </nav>
        </ng-container>



        <!-- User navbar -->
        <ng-template #userNavbar>
            <div>
                <span class="title">Welcome User!</span>
            </div>
            <nav>
                <a class="nav-links" routerLink="/u/dashboard"><span>Dashboard</span></a>
                <a class="nav-links" routerLink="/u/add-car"><span>Add Car</span></a>
                <a class="nav-links" routerLink="/u/bookings"><span>Bookings</span></a>
            </nav>
        </ng-template>
    </ng-template>
</div>



<router-outlet></router-outlet>