.nav{
    height: 50px;
    background-color: #fff;
    margin: 0;
    padding: 0px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.title{
    position: relative;
    color: #1F2128;
    font-family: sans-serif,'Roboto';
    font-size: 20px;
    font-weight: bold;
   
}