.main {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.login {
    height: 420px;
    width: 300px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h1text {
    text-align: center;
    /* padding-top: 35px;   */
    font-family: var(--main-font);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;  
}

.input, .btn {
    margin: 10px 0px;
    border-radius: 3px;
}

.input {
    width: 250px;
    height: 30px;
    border: 1px solid var(--gray-border);
    text-indent: 10px;
}

.input:focus {
    outline: none;
    box-shadow: var(--box-shadow-color) 0px 8px 24px;
    border: 1px solid var(--purple-main);
}


.btn {
    width: 260px;
    height: 35px;
    background-color: var(--purple-main);
    color: var(--white);
    border: 1px solid;
    font-weight: 400;
    font-size: medium;
}

.btn:hover {
    scale: 103%;
}

.link {
    text-decoration: none;
    color: var(--gray-text);
    margin-top: 15px;
}

.link:hover {
    scale: 103%;
}


.error{
    color: red;
    display: block;
}
